@charset "UTF-8";

/* list_test.jsp */

.gtco-section {
	padding: 0;	
}

.fh5co-card-item figure {
	height: 340px;
}

.fh5co-card-item:hover .fh5co-text,
.fh5co-card-item:hover .fh5co-text:before {
   background: antiquewhite !important;
} 

.start-90
{
	left: 90%;
    color: #fff !important;
}

