<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.AttachMapper">

<select id="getList" resultType="com.project.vo.AttachVO">
	SELECT T.* 
    , uploadpath||uuid||'_'||filename savepath
     , DECODE(filetype , 'I', uploadpath||'thum_'||uuid||'_'||filename, 'file') t_savepath
 			FROM rec_file T WHERE B_NO = #{b_NO}
</select>

<select id="getAllList" resultType="com.project.vo.AttachVO">
	SELECT T.* 
    , uploadpath||uuid||'_'||filename savepath
     , DECODE(filetype , 'I', uploadpath||'thum_'||uuid||'_'||filename, 'file') t_savepath
 			FROM rec_file T
</select>

<select id="getOne" resultType="com.project.vo.AttachVO">
	SELECT T.* 
    , uploadpath||uuid||'_'||filename savepath
     , DECODE(filetype , 'I', uploadpath||'thum_'||uuid||'_'||filename, 'file') t_savepath
 			FROM rec_file T WHERE B_NO = #{b_NO} AND uuid = #{uuid}
</select>

</mapper>