<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.project.mapper.MainMapper"> 
  	
  	<!-- //1. 최다 추천 레시피 리스트 불러오기 -->
  	<select id="getBoomUpList" resultType="com.project.vo.MainVO">
    SELECT DISTINCT
    	b.b_no, b.title, b.nickName, b.boomup, f.savePath
    FROM
    	rec_board b
	JOIN
	(
        SELECT
           uploadpath||uuid||'_'||filename savePath,
            B_NO, filetype
        FROM
            rec_file
    )f 
    ON b.b_no = f.b_no
    where f.filetype = 'B'
    order by BOOMUP desc
	
	</select>
	
	<!-- //2. 최다 조회 레시피 리스트 불러오기 -->
	<select id="getViewCntList" resultType="com.project.vo.MainVO">
	
	SELECT DISTINCT
    	b.b_no, b.title, b.nickName, b.viewCnt, f.savePath
    FROM
    	rec_board b
	JOIN
	(
        SELECT
           uploadpath||uuid||'_'||filename savePath,
            B_NO, filetype
        FROM
            rec_file
    )f 
    ON b.b_no = f.b_no
    where f.filetype = 'B'
    order by viewCnt desc
	

	</select>
	
  	<!-- //3. 최다 댓글 레시피 리스트 불러오기 -->
	<select id="getReplyCntList" resultType="com.project.vo.MainVO">


	SELECT DISTINCT
    	b.b_no, b.title, b.nickName, b.replyCnt, f.savePath
    FROM
    	rec_board b
	JOIN
	(
        SELECT
           uploadpath||uuid||'_'||filename savePath,
            B_NO, filetype
        FROM
            rec_file
    )f 
    ON b.b_no = f.b_no
    where f.filetype = 'B'
    order by replyCnt desc

	</select>
  	
  	<!-- //4. 최근 등록 레시피 리스트 불러오기 -->
  	<select id="getRecentList" resultType="com.project.vo.MainVO">
  	
  	SELECT DISTINCT
    	b.b_no, b.title, b.nickName, b.regdate, f.savePath
    FROM
    	rec_board b
	JOIN
	(
        SELECT
           uploadpath||uuid||'_'||filename savePath,
            B_NO, filetype
        FROM
            rec_file
    )f 
    ON b.b_no = f.b_no
    where f.filetype = 'B'
    order by regdate desc
 	
  	</select>
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  </mapper>