<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper의 namespace속성은 연결할 mapper의 interface 풀 경로로 작성  -->
<mapper namespace="com.project.mapper.RecipeMapper">

	
	
	<select id="replyTotalCnt" resultType="int">
		select count(*) 
  		from rec_reply
  		where b_no=#{b_no}
	</select>
	
	
	<select id="photoTotalCnt" resultType="int">
		select count(*)
			from rec_file
			where b_no = #{b_no} and filetype = 'R'
	</select>
	
	
	<sql id="criteria">
		<choose>
			<when test="searchField == 'title'">
				and title like '%'||#{searchWord}||'%'
			</when>
			
			<when test="searchField == 'author'">
				and author like '%'||#{searchWord}||'%'
			</when>
		</choose>
	</sql>
	
	<!-- 게시글 한건 조회 -->
	<select id="getOne" resultType="com.project.vo.RecipeBoardVo">
		SELECT b_no,title,nickname,regdate,updatedate,boomup,intro,cooktip,viewcnt,star,mno,replycnt, SUBSTR(videoLink, -11) AS videoCode
		FROM rec_board
		WHERE b_no = #{b_no}
	</select>
	
	<select id="getMaterial" resultType="com.project.vo.MaterialVo">
		
		 		SELECT *
 				 FROM (
  				  		SELECT M.I_NAME, MATERIALCNT, M.B_NO, I_NO, M_no
   					 	FROM REC_BOARD B, REC_MATERIAL M
    					WHERE M.B_NO = B.B_NO
 			 ) 
  				WHERE B_NO = #{b_no}
		
	</select>
	
	<select id="getRecipeStep" resultType="com.project.vo.RecipeStepVo">
			
			select * 
			from rec_step
			where b_no = #{b_no}
		
	</select>
	
	<select id="getRecipeReply" resultType="com.project.vo.RecipeReplyVo">
			
			select *
			from rec_reply
			where bno = #{bno}
		
	</select>
	
	<select id="getIngredients" resultType="com.project.vo.IngredientsVo">
	
		select *
		from rec_ingredients
		where i_name = #{i_name}
	
	</select>
	
	<!-- 레시피저장 -->
	<insert id="like_Recipe">
		
		insert into like_recipe (l_no, m_no, b_no) values (seq_l_no.nextval, #{mno}, #{b_no})
		
	</insert>
	
	
	<update id="plusViewcnt">
		
			update rec_board
				set viewcnt = viewcnt + 1
			where b_no = #{b_no}
		
	</update>
	
	<select id="getLikeRecipeList" resultType="com.project.vo.RecipeBoardVo">
		
		SELECT rb.*,
		       rf.uploadpath || rf.uuid || '_' || rf.filename AS savePath,
		       CASE WHEN rf.filetype = 'B' THEN 's_' || rf.uploadpath || rf.uuid || '_' || rf.filename ELSE '' END AS s_savePath
		FROM rec_board rb
		JOIN rec_file rf ON rb.b_no = rf.b_no
		WHERE rb.b_no IN (
		    SELECT b_no
		    FROM like_recipe
		    WHERE m_no = #{mno}
		) AND rf.filetype = 'B'
		
	</select>
	
	<select id="myRecipe" resultType="com.project.vo.RecipeBoardVo">
		
		SELECT rb.*,
	       rf.uploadpath || rf.uuid || '_' || rf.filename AS savePath,
	       CASE WHEN rf.filetype = 'B' THEN 's_' || rf.uploadpath || rf.uuid || '_' || rf.filename ELSE '' END AS s_savePath
		FROM rec_board rb
		JOIN rec_file rf ON rb.b_no = rf.b_no
		WHERE rb.mno = #{mno} AND rf.filetype = 'B'
	
	</select>
	
	<select id="getMyReply" resultType="com.project.vo.RecipeReplyVo">
		
		SELECT r.*, b.title
		FROM rec_reply r
		JOIN rec_board b ON r.b_no = b.b_no
		WHERE r.writer = #{writer}			
		
	</select>
	
	<select id="getReceiveReply" resultType="com.project.vo.RecipeReplyVo">
		
		SELECT *
        FROM (
				  SELECT t.*, ROWNUM rn
				  FROM (  
            SELECT rr.*, rb.title AS title
            FROM rec_reply rr
            JOIN rec_board rb ON rr.b_no = rb.b_no
            WHERE rb.mno = #{mno}) t
				)
				WHERE rn BETWEEN #{startNo} AND #{endNo}  
			
	</select>
	
	
	<select id="getTotalRecieveReply" resultType="int">
		
		SELECT count(*)
            FROM rec_reply rr
            JOIN rec_board rb ON rr.b_no = rb.b_no
            WHERE rb.mno = #{mno}
	</select>


	
</mapper>



































