<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.project.mapper.RecipeListMapper">

<select id="getRecList" resultType="com.project.vo.BoardVO">
		SELECT *
				FROM (
				  SELECT t.*, ROWNUM rn
				  FROM (
				         SELECT rt.title, rt.nickname, rt.intro, rt.b_no, rt.boomup, rt.viewcnt,
				          		CASE WHEN rt.regdate >= TRUNC(SYSDATE) - 3 THEN 'new' ELSE '' END AS newpost,
				          		CASE
							        WHEN rt.regdate >= TRUNC(SYSDATE) - 1 THEN
							          FLOOR((SYSDATE - rt.regdate) * 24 * 60) || '분 전'
							        WHEN rt.regdate >= TRUNC(SYSDATE) - 7 THEN
							          TRUNC(ROUND(SYSDATE - rt.regdate)) || '일 전'
							        ELSE
							          TO_CHAR(rt.regdate, 'YYYY/MM/DD') END AS regdate,
				          				rc.C_NO1, rc.C_NO2, rc.catename1, rc.catename2 
				          	FROM rec_board rt, rec_category rc
				          	 WHERE rc.C_NO1 = rt.C_NO1
				          	  AND rc.C_NO2 = rt.C_NO2
				          	  AND intro LIKE '%' || #{sWord} || '%'
				            <include refid="criteria"></include>
					        <choose>
			                    <when test="orderBy">
			                        <include refid="orderByRegidate"></include>
			                    </when>
			                    <otherwise>
			                        <include refid="orderByBoomUp"></include>
			                    </otherwise>
			                </choose>
				  ) t
				)
				WHERE rn BETWEEN #{startNo} AND #{endNo}
	</select>
	
	
	<select id="getListTotalCnt" resultType="int">
		SELECT COUNT(*)
			FROM (
			  SELECT *
		       FROM rec_board rt, rec_category rc
		          	 WHERE rc.C_NO1 = rt.C_NO1
		          	  AND rc.C_NO2 = rt.C_NO2
		          	  AND intro LIKE '%' || #{sWord} || '%'
		            <include refid="criteria"></include>
			 )
	</select>
	
	<select id="getOne" resultType="com.project.vo.BoardVO">
		SELECT * FROM rec_board WHERE B_NO = #{b_NO}
	</select>
	
	
	<select id="getComList" resultType="com.project.vo.BoardVO">
			SELECT *
				FROM (
				  SELECT t.*, ROWNUM rn
				  FROM (
				         SELECT  ct.com_bno, ct.nickname, ct.com_title, ct.com_content, ct.replycnt,
				          		CASE WHEN ct.regdate >= TRUNC(SYSDATE) - 3 THEN 'new' ELSE '' END AS newpost,
				          		CASE
								       WHEN ct.regdate >= TRUNC(SYSDATE) - 1 THEN
								         FLOOR((SYSDATE - ct.regdate) * 24 * 60) || '분 전'
								       WHEN ct.regdate >= TRUNC(SYSDATE) - 7 THEN
								         TRUNC(ROUND(SYSDATE - ct.regdate)) || '일 전'
								       ELSE
								         TO_CHAR(ct.regdate, 'YYYY/MM/DD') END AS regdate
				          	FROM com_board ct
				          	 WHERE com_content LIKE '%' || #{sWord} || '%'
					        <choose>
			                    <when test="orderByCom">
			                        <include refid="orderByRdate"></include>
			                    </when>
			                    <otherwise>
			                        <include refid="orderByRcount"></include>
			                    </otherwise>
			                </choose>
				  ) t
				)
				WHERE rn BETWEEN #{startNo} AND #{endNo}
	</select>
	
	<select id="getComOne" resultType="com.project.vo.BoardVO">
		SELECT * FROM com_board WHERE com_bno = #{COM_BNO}
	</select>
	
	<select id="getComListTotalCnt" resultType="int">
		SELECT COUNT(*)
			FROM (
			  SELECT *
		       FROM com_board ct
		          	 WHERE com_content LIKE '%' || #{sWord} || '%'
			 )
	</select>

	<sql id="criteria">
    <choose>
        <!-- c1, c2에 따라 조건을 추가하는 부분 -->
        <when test="c1 != null and c1 != ''">
		    AND rc.C_NO1 = #{c1}
		    <if test="c2 != null and c2 != ''">
		        AND rc.C_NO2 = #{c2}
		    </if>
		</when>
    </choose>
	</sql>
	
	<sql id="orderByRegidate"> ORDER BY rt.regdate DESC </sql>
	<sql id="orderByBoomUp"> ORDER BY rt.boomup DESC </sql>
	
	<sql id="orderByRdate"> ORDER BY ct.regdate DESC </sql>
	<sql id="orderByRcount"> ORDER BY ct.replycnt DESC </sql>
	
	

	
</mapper>